<h2>disnumber</h2>


<div class="input_field">

<h5>enter a number or phrase to look up:</h5>

<form action="/result" method="get">
  <label id="input_alert" for="user_input" style="visibility: hidden"></label>
  <input id="user_input" type="text" name="user_input" value="">
  <button id="find_btn">FIND</button>
</form>


</div>
