<h2>disnumber!</h2>


<div class="input_field">

<h5>enter a number or phrase to look up:</h5>

<form action="/result" method="get">
  <input type="text" name="user_input" value="">
  <button>FIND</button>
</form>


</div>
