<h2>disnumber</h2>

<div class="input_field">

  <h5>enter a number or phrase to look up:</h5>

  <form action="/result" method="get">
    <label id="input_alert" for="user_input" style="visibility: hidden"></label>
    <input id="user_input" type="text" name="user_input" value="" placeholder="Enter your number or search by phrase">
    <button id="find_btn">FIND</button>
  </form>

</div>

<span class="input input--kaede">
  <input class="input__field input__field--kaede" type="text" id="input-36">
  <label class="input__label input__label--kaede" for="input-36">
    <span class="input__label-content input__label-content--kaede">Last Name</span>
  </label>
</span>
