<h1 class="logo_text">disnumber</h1>

<div class="highlight">
<h5 id="tagline"><crossed>never</crossed> forget that number</h5>
<p id="tagline_sub">a unique phrase for every phone number</p>
</div>

<div class="input_field">
<form action="/result" method="get">
  <span class="input input--sliding">
    <input class="input__field input__field--sliding" type="text" name="user_input" id="user_input">

    <label class="input__label input__label--sliding" for="user_input">
      <span class="input__label-content input__label-content--sliding" id="input_label">Search by number or phrase</span>
    </label>
  </span>
  <button id="find_btn">FIND</button>
</form>
</div>

<footer>

<a href="/about">About</a>
|
<a href="http://github.com/javeddc/disnum">Github</a>

</footer>
