<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="notification" class="alert" style="display: none">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <p id="notification_text">This is an alert box.</p>
    </div>

    <%= yield %>

    <script src="/js/main.js"></script>
  </body>
</html>
