<h5>Thanks for your request.</h5>

<p>Your request for a new phrase for the number
  <%= @digits %>
  has been submitted.</p>

<p>Your reference number for this request is
  <%= @confirmed_id %>.
</p>
